.contribution-item-area{
    position: relative;
}
.contribution-item-overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid #F96332;
    -webkit-transform: rotateY(90deg);
    -moz-transform: rotateY(90deg);
    -ms-transform: rotateY(90deg);
    -o-transform: rotateY(90deg);
    transform: rotateY(90deg);
    -webkit-transform-origin: 50% 0%;
    -moz-transform-origin: 50% 0%;
    -ms-transform-origin: 50% 0%;
    -o-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    opacity: 0;
    transition:all 0.35s ease;
    padding: 10px 20px;
}
.contribution-item-area:hover .contribution-item-overlay{
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    transform: rotateY(0deg);
    opacity: 1;
    -webkit-transition-delay: 0.14s;
    -moz-transition-delay: 0.14s;
    transition-delay: 0.14s;
}
.contribution-item-area:hover .contribution-item{
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -o-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    opacity: 0;
}
.contribution-add-item {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contribution-add-item a {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.contribution-add-item a svg {
    font-size: 25px;
}
.contribution-item {
    padding: 15px;
    transition:all 0.35s ease;
}
ul.contribution-item-info li{
    margin: 10px 0;
    font-size: 16px;
}
ul.contribution-item-options li a {
    color:#F96332;
    margin: 10px 0;
    display: block;
}
@media only screen and (max-width: 580px) {
    .contribution-add-item {
        width: 80%;
        margin: 6px auto;
        padding: 25px 0;
    }
    .contribution-item-area.grey.lighten-2.rounded.z-depth-1 {
        width: 80%;
        margin: 25px auto;
    }
    .contribution-item {
        margin-top: 25px;
    }
}
@media only screen and (max-width: 480px) {
    .contribution-add-item {
        width: 100%;
    }
    .contribution-item-area.grey.lighten-2.rounded.z-depth-1 {
        width: 100%;
    }
}